<nav class="navbar navbar-inverse">
  <div class="container-fluid" id="main-container">
    <div class="navbar-header">
      <a class="navbar-brand" >Expenditure Tracker</a>
    </div>
    <form class="navbar-form navbar-right" >
      <div class="form-group">
        <input type="search" (ngModelChange)="searchExpenses($event)"  ngModel
               name="itemName" id="searchExpenseModal" class="form-control mr-sm-2" placeholder="Search expenses..." required>

      </div>
    </form>
  </div>
</nav>

<div class="float: left">
  <h3>My Personal Expense</h3>
</div>

<div>
  <a (click)="onOpenModal(null, 'add')" class="btn btn-primary" data-toggle="modal" title="Add your expense">
    <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span><b>Add New</b></a>
</div>


<div class="container " id="main-container1">
  <table class="table css-serial">

    <thead>
    <tr>
      <th>Serial No.</th>
      <th>Item Name</th>
      <th>Amount</th>
      <th>Expense Date & Time</th>
      <th>Files</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let expense of expenses | paginate:{ itemsPerPage: 5, currentPage: p }" >
      <td>.</td>
      <td>{{expense?.itemName}}</td>
      <td>{{expense?.amount}}</td>
      <td>{{expense?.expenseDate}}</td>
      <td><a  href="#" class="pe-auto">{{expense?.fileName}}</a></td>
      <td>
        <a (click)="onOpenModal(expense,'edit')" class="edit btn " title="Edit" data-toggle="modal" ><i class="material-icons">edit</i></a>
        <a (click)="onOpenModal(expense,'delete')" class="delete btn" title="Delete" data-toggle="modal"><i class="material-icons">delete</i></a>
      </td>
    </tr>
    </tbody>


  </table>





<!--  Add modal-->

  <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="OnAddExpense(addForm)">
            <div class="form-group">
               <label for="itemName">Item Name</label>
               <input type="text"   ngModel name="itemName" class="form-control" id="itemName1" placeholder="Item Name" required>
            </div>
            <div class="form-group">
               <label for="amount">Amount</label>
               <input type="text" ngModel name="amount" class="form-control" id="amount1" placeholder="Amount" required>
            </div>
            <div class="form-group">
               <label for="expenseDate">Expense Date & Time</label>
               <input type="datetime-local" ngModel name="expenseDate" class="form-control" id="expenseDate" placeholder="Expense Date" required>
            </div>


<!--              <div class="form-group">-->
<!--                <label>Files</label>-->
<!--                <input type="file" ngModel name="fileName" class="form-control"  placeholder="File">-->
<!--              </div>-->



              <div class="row form-group">
                <div class="col-8">
                  <label class="btn btn-default p-0">
                    <input type="file" ngModel name="fileName" (change)="selectFile($event)" />
                  </label>
                </div>


              </div>






            <div class="modal-footer">

               <button type="button" id="add-expense-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid && !selectedFiles" type="submit" class="btn btn-primary" onClick="location.reload()">Create</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>


  <!-- Edit Modal-->
  <div class="modal fade" id="updateExpenseModal" tabindex="-1" role="dialog" aria-labelledby="updateExpenseModal" aria-hidden="true">-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateExpenseModalLabel">Edit Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" >
            <div class="form-group">
              <label for="itemName">Item Name</label>
              <input type="text" ngModel="{{updateExpense?.itemName}}" name="itemName" class="form-control" id="itemName" placeholder="Item Name" required>
            </div>
            <input type="hidden" ngModel="{{updateExpense?.id}}" name="id" class="form-control" id="id" placeholder="itemName">
            <div class="form-group" >
              <label for="amount">Amount</label>
              <input type="text" ngModel="{{updateExpense?.amount}}" name="amount" class="form-control" id="amount" placeholder="Amount" required>
            </div>
            <div class="form-group" >
              <label for="expenseDate">Expense Date & Time</label>
              <input  type="datetime-local" ngModel="{{updateExpense?.expenseDate}}" name="expenseDate" class="form-control" id="expenseDate1" placeholder="Expense Date" required>
            </div>

            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button  (click)="OnUpdateExpense(editForm.value)" type="submit" class="btn btn-primary" onClick="location.reload()" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete Modal -->
  <div class="modal fade" id="deleteExpenseModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" onClick="location.reload()" >&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <p>Are you sure you want to delete the expense <b>"{{deleteExpense?.itemName}}"</b> ?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="OnDeleteExpense(deleteExpense.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls
    (pageChange)="p = $event"
    class="float-left">
  </pagination-controls>
</div>







