<nav class="navbar navbar-inverse">
  <div class="container-fluid" id="main-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Expenditure Tracker</a>
    </div>
    <form class="navbar-form navbar-right" >
      <div class="form-group">
        <input type="text" data-toggle="modal" data-bs-toggle="modal" class="form-control" placeholder=" Search here " name="search">
      </div>
      <button type="submit"   class="btn btn-default">Search</button>
    </form>
  </div>
</nav>

<div class="float: left">
  <h3>My Personal Expense</h3>
</div>

<div>
  <a (click)="onOpenModal(null, 'add')" class="btn btn-primary" data-toggle="modal" title="Add your expense">
    <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span><b>Add New</b></a>
</div>


<div class="container " id="main-container1">
  <table class="table ">

    <thead>
    <tr>
      <th>Item Id</th>
      <th>Item Name</th>
      <th>Amount</th>
      <th>Expense Date</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{expense.id}}</td>
      <td>{{expense.itemName}}</td>
      <td>{{expense.amount}}</td>
      <td>{{expense.expenseDate}}</td>
      <td>
        <a (click)="onOpenModal(expense,'edit')" class="edit btn " title="Edit" data-toggle="modal" ><i class="material-icons">edit</i></a>
        <a (click)="onOpenModal(expense,'delete')" class="delete btn" title="Delete" data-toggle="modal"><i class="material-icons">delete</i></a>
      </td>
    </tr>
    </tbody>


  </table>


<!--  Add modal-->

  <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="OnAddExpense(addForm)">
            <div class="form-group">
               <label for="itemName">Item Name</label>
               <input type="text"   ngModel name="itemName" class="form-control" id="itemName1" placeholder="Item Name" required>
            </div>
            <div class="form-group">
               <label for="amount">Amount</label>
               <input type="text" ngModel name="amount" class="form-control" id="amoun1t" placeholder="Amount" required>
            </div>
            <div class="form-group">
               <label for="expenseDate">Expense Date</label>
               <input type="date" ngModel name="expenseDate" class="form-control" id="expenseDate" placeholder="Expense Date" required>
            </div>

            <div class="modal-footer">

               <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" onClick="location.reload()">Create</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>


  <!-- Edit Modal-->
  <div class="modal fade" id="updateExpenseModal" tabindex="-1" role="dialog" aria-labelledby="updateExpenseModal" aria-hidden="true">-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateExpenseModalLabel">Edit Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="itemName">Item Name</label>
              <input type="text"  class="form-control" id="itemName" placeholder="Item Name" required>
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text"  name="amount" class="form-control" id="amount" placeholder="Amount" required>
            </div>
            <div class="form-group">
              <label for="expenseDate">Expense Date</label>
              <input type="date"  name="expenseDate" class="form-control" id="expenseDate1" placeholder="Expense Date" required>
            </div>

            <div class="modal-footer">
              <button type="button" id="update-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button  type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete Modal -->
  <div class="modal fade" id="deleteExpenseModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the expense?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button  class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







